{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}

{% block content %}
    <div class="sheet">
        <p><i>
            Dial_box.by - это стильные и неповторимые подарочные боксы, которые хочется получать и дарить. 

            Наши подарочные наборы - про любовь и заботу к себе и своему телу. Каждый подарок в наполнении  бокса обязательно принесёт пользу и удовольствие , ведь среди них есть продукты ручной работы, которые мы делаем сами (бомбочки для ванны, соль, скраб). Собираем, сушим цветы и травы. Именно поэтому наши боксы уникальны. 

            С нами вы сможете подарить незабываемые эмоции себе и своим близким.
        </i></p>
    </div>
{% endblock %}